.img-thumbnail {
    margin: 1.5rem auto;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 1.5625rem;
}

.card-footer {
    padding: 0.6rem 0.9rem;
    background-color: #fff;
    border-top: none;
}

.card-footer .btn-group {
    justify-content: space-between;
}

.card-footer .btn {
   width: 47.5%;
}